In [33]:
from sklearn.preprocessing import OneHotEncoder

In [34]:
import numpy as np
import pandas as pd
import seaborn as sns
%matplotlib inline

In [35]:
data= pd.read_csv("C:/Users/800409/Desktop/churn.csv")

In [36]:
def convert_yn(column):
   data[column]=data[column].map({"yes":1, "no":0})

In [37]:
def convert_tf(column):
   data[column]=data[column].map({True:1, False:0})

In [38]:
convert_yn("Int'l Plan")
convert_yn("VMail Plan")

In [39]:
convert_tf("Churn?")

In [40]:
data.drop(columns=["Phone","Area Code","Account Length"], axis=1, inplace=True)

In [41]:
data

,State,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,0,1,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,0
1,OH,0,1,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,0
2,NJ,0,0,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,0
3,OH,1,0,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,0
4,OK,1,0,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,0,1,36,156.2,77,26.55,215.5,126,18.32,279.1,83,12.56,9.9,6,2.67,2,0
3329,WV,0,0,0,231.1,57,39.29,153.4,55,13.04,191.3,123,8.61,9.6,4,2.59,3,0
3330,RI,0,0,0,180.8,109,30.74,288.8,58,24.55,191.9,91,8.64,14.1,6,3.81,2,0
3331,CT,1,0,0,213.8,105,36.35,159.6,84,13.57,139.2,137,6.26,5.0,10,1.35,2,0
3332,TN,0,1,25,234.4,113,39.85,265.9,82,22.60,241.4,77,10.86,13.7,4,3.70,0,0

In [42]:
# data["State"]=onehotencoder.fit_transform(a)

In [43]:
columns=pd.get_dummies(data["State"],prefix="State").columns

In [44]:
data[columns]=pd.get_dummies(data["State"],prefix="State")

In [45]:
data.drop(columns="State", axis=0,inplace=True)

In [46]:
labels=data["Churn?"]

In [47]:
data.drop(columns="Churn?",axis=0, inplace=True)

In [48]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split as tts

In [49]:
X_train, X_test, y_train,y_test= tts(data,labels,test_size=0.3, random_state=0)

In [50]:
l=LogisticRegression()

In [51]:
l.fit(X_train,y_train)

C:\Users\800409\AppData\Roaming\Python\Python36\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [52]:
pred=l.predict(X_test)

In [53]:
l.score(X_test,y_test)

0.861