In [174]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [175]:
train= pd.read_csv("C:/Users/800409/Downloads/train_.csv")

In [176]:
train.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [177]:
train["Age"].fillna(train["Age"].median(), inplace=True)

In [178]:
train['Died']= 1-train["Survived"]

In [179]:
train[train["Survived"]==1]['Fare']

1      71.2833
2       7.9250
3      53.1000
8      11.1333
9      30.0708
        ...
875     7.2250
879    83.1583
880    26.0000
887    30.0000
889    30.0000
Name: Fare, Length: 342, dtype: float64

In [180]:
def merge_tt_data():
    m_train=pd.read_csv("C:/Users/800409/Downloads/train_.csv")
    m_test=pd.read_csv("C:/Users/800409/Downloads/test_.csv")
    targets= m_train.Survived
    m_train.drop(['Survived'],1, inplace=True)
    merged_data_frame= m_train.append(m_test)
    merged_data_frame.reset_index(inplace=True)
    passenger= m_test["PassengerId"] 
    merged_data_frame.drop(['index', 'PassengerId'], inplace=True, axis=1)
    return merged_data_frame, passenger

In [181]:
merged_data, passenger= merge_tt_data()

In [182]:
merged_data.columns

Index(['Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare',
       'Cabin', 'Embarked'],
      dtype='object')

In [183]:
passenger= np.array(passenger)

In [184]:
passenger=passenger.reshape(-1,1)

In [185]:
sex_dict={'male':1, 'female':0}
merged_data['Sex']= merged_data['Sex'].map(sex_dict)

In [186]:
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 10 columns):
Pclass      1309 non-null int64
Name        1309 non-null object
Sex         1309 non-null int64
Age         1046 non-null float64
SibSp       1309 non-null int64
Parch       1309 non-null int64
Ticket      1309 non-null object
Fare        1308 non-null float64
Cabin       295 non-null object
Embarked    1307 non-null object
dtypes: float64(2), int64(4), object(4)
memory usage: 81.9+ KB

In [187]:
merged_data.columns

Index(['Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare',
       'Cabin', 'Embarked'],
      dtype='object')

In [188]:
merged_data['Cabin']=merged_data['Cabin'].str[0]

In [189]:
merged_data['Cabin'].unique()

array([nan, 'C', 'E', 'G', 'D', 'A', 'B', 'F', 'T'], dtype=object)

In [190]:
merged_data['Cabin'].fillna("U", inplace=True)

In [191]:
merged_data.groupby('Embarked').count()

          Pclass  Name  Sex  Age  SibSp  Parch  Ticket  Fare  Cabin
Embarked
C            270   270  270  212    270    270     270   270    270
Q            123   123  123   50    123    123     123   123    123
S            914   914  914  782    914    914     914   913    914

In [192]:
merged_data.shape

(1309, 10)

In [193]:
merged_data.isnull().sum()

Pclass        0
Name          0
Sex           0
Age         263
SibSp         0
Parch         0
Ticket        0
Fare          1
Cabin         0
Embarked      2
dtype: int64

In [194]:
merged_data['Embarked'].fillna("S", inplace=True)

In [195]:
dummy1= pd.get_dummies(merged_data['Embarked'], drop_first=True, prefix ='Embarked')
merged_data= pd.concat([merged_data, dummy1], axis=1)
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 12 columns):
Pclass        1309 non-null int64
Name          1309 non-null object
Sex           1309 non-null int64
Age           1046 non-null float64
SibSp         1309 non-null int64
Parch         1309 non-null int64
Ticket        1309 non-null object
Fare          1308 non-null float64
Cabin         1309 non-null object
Embarked      1309 non-null object
Embarked_Q    1309 non-null uint8
Embarked_S    1309 non-null uint8
dtypes: float64(2), int64(4), object(4), uint8(2)
memory usage: 84.4+ KB

In [196]:
merged_data.drop("Embarked", axis=1,inplace=True)

In [197]:
merged_data.columns

Index(['Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare',
       'Cabin', 'Embarked_Q', 'Embarked_S'],
      dtype='object')

In [198]:
merged_data.Cabin.unique()

array(['U', 'C', 'E', 'G', 'D', 'A', 'B', 'F', 'T'], dtype=object)

In [199]:
dummy= pd.get_dummies(merged_data['Cabin'], drop_first=True, prefix="Cabin")
merged_data=pd.concat([merged_data, dummy], axis=1)

In [200]:
merged_data.drop("Cabin", axis=1, inplace=True)

In [201]:
dummy1=pd.get_dummies(merged_data['Pclass'].astype('category'), drop_first=True, prefix='Pclass')
merged_data=pd.concat([merged_data, dummy1], axis=1)
merged_data.drop('Pclass', axis=1, inplace=True)

In [202]:
merged_data.columns

Index(['Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Embarked_Q',
       'Embarked_S', 'Cabin_B', 'Cabin_C', 'Cabin_D', 'Cabin_E', 'Cabin_F',
       'Cabin_G', 'Cabin_T', 'Cabin_U', 'Pclass_2', 'Pclass_3'],
      dtype='object')

In [203]:
def age_groups(num_age):
    if num_age>=0 and num_age <=2:
        return 'infant'
    elif num_age>=3 and num_age<=15:
        return 'kids'
    else:
        return 'adult'

In [204]:
merged_data['age_group']= merged_data['Age'].map(lambda age: age_groups(age))

In [205]:
age_group = merged_data.groupby('age_group').median()['Age'].reset_index()

In [206]:
age_group

  age_group   Age
0     adult  30.0
1    infant   1.0
2      kids   9.0

In [207]:
age_group[age_group['age_group']=='adult']['Age'][0]

30.0

In [208]:
def age(row):
    if row['age_group']=='adult':
        return age_group[age_group['age_group']=='adult']['Age'][0]
    elif row['age_group']=='infant':
        return age_group[age_group['age_group']=='infant']['Age'][0]
    else:
        return age_group[age_group['age_group']=='kids']['Age'][0]

In [209]:
merged_data['Age']=merged_data.apply(lambda row: age(row) if np.isnan(row['Age']) else row['Age'], axis=1)

In [210]:
merged_data.drop('age_group', axis=1, inplace=True)

In [211]:
merged_data['traveller_cnt']= merged_data['SibSp']+merged_data['Parch']+1

In [212]:
merged_data.drop('Ticket', axis=1,inplace=True)

In [213]:
def get_tt_target():
    targets= pd.read_csv('C:/Users/800409/Downloads/train_.csv', usecols=['Survived'])['Survived'].values
    train = merged_data.iloc[:891]
    test=merged_data.iloc[891:]
    return train,test,targets

In [214]:
from sklearn.model_selection import train_test_split as tts

In [215]:
# X_train,X_test,y_train,y_test = tts(merged_data, test_size=0.3)

In [216]:
train_,test_,targets=get_tt_target()

In [217]:
train_.head()

,Name,Sex,Age,SibSp,Parch,Fare,Embarked_Q,Embarked_S,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G,Cabin_T,Cabin_U,Pclass_2,Pclass_3,traveller_cnt
0,"Braund, Mr. Owen Harris",1,22.0,1,0,7.2500,0,1,0,0,0,0,0,0,0,1,0,1,2
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,71.2833,0,0,0,1,0,0,0,0,0,0,0,0,2
2,"Heikkinen, Miss. Laina",0,26.0,0,0,7.9250,0,1,0,0,0,0,0,0,0,1,0,1,1
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,53.1000,0,1,0,1,0,0,0,0,0,0,0,0,2
4,"Allen, Mr. William Henry",1,35.0,0,0,8.0500,0,1,0,0,0,0,0,0,0,1,0,1,1

In [218]:
test_.isnull().sum()

Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Fare             1
Embarked_Q       0
Embarked_S       0
Cabin_B          0
Cabin_C          0
Cabin_D          0
Cabin_E          0
Cabin_F          0
Cabin_G          0
Cabin_T          0
Cabin_U          0
Pclass_2         0
Pclass_3         0
traveller_cnt    0
dtype: int64

In [219]:
test_['Fare'].fillna(test_['Fare'].mean(),inplace=True)

C:\Users\800409\AppData\Roaming\Python\Python36\site-packages\pandas\core\generic.py:6287: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [220]:
train_.drop(columns="Name", axis=0, inplace=True)

C:\Users\800409\AppData\Roaming\Python\Python36\site-packages\pandas\core\frame.py:4102: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [221]:
test_.drop(columns="Name", axis=0, inplace=True)

In [222]:
from sklearn.linear_model import LogisticRegression

In [223]:
log= LogisticRegression()

In [224]:
log.fit(train_,targets)

C:\Users\800409\AppData\Roaming\Python\Python36\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [225]:
preds=log.predict(test_)

In [226]:
preds=np.array(preds)
preds=preds.reshape(-1,1)

In [244]:
e=pd.DataFrame(columns=["PassengerId","Survived"])

In [245]:
e["PassengerId"]=passenger[:,0]
e["Survived"]=preds[:,0]

In [249]:
e.to_csv("gender_submission.csv")

NameError: name 'index' is not defined

In [ ]:
pd.DataFrame(predictions, columns=['predictions']).to_csv('prediction.csv')

In [239]:
prediction = pd.DataFrame([passenger[:,0],preds[:,0]])

In [250]:
prediction.shape

(2, 418)

In [ ]:
submi=pd.read_csv("C:/Users/800409/Downloads/gender_submission.csv", usecols=["Survived"])["Survived"].values

In [99]:
submi= np.array(submi).reshape(-1,1)

In [100]:
submi.reshape(-1,1)

array([[0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0]], dtype=int64)

In [101]:
submi.shape

(418, 1)

In [105]:
preds=np.array(preds).reshape(-1,1)

In [106]:
preds.shape

(418, 1)

In [108]:
log.score(test_, submi)

0.937799043062201